.header{
  padding: 28px 48px 0;
  max-width: 1184px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 1023px){
  .header{
    width: calc(720px - 25px);
    padding: 24px 28px 0;
  }
}
@media screen and (max-width: 767px){
  .header{
    padding: 16px 16px 0;
    width: calc(288px - 17px);
  }
}
