.footer__links{
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 18px;
  -moz-column-gap: 18px;
  column-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px){
  .footer__links{
    grid-auto-flow: row;
    grid-row-gap: 32px;
    margin-bottom: 48px;
  }
}